./html.test/node_modules
__pycache__/
*.pyc

opencv/ocr/data
opencv/ocr/out
opencv/ocr/output

coolq/coolq.air/
coolq/coolq.pro/
python/log/
face-recognition/faces/
ocr/samples/
python/.idea/
greedai/rawdata/
greedai/neo4j-database/
jvm/out/
jvm/.idea/
html.test/node_modules/
opencv/out/
.DS_Store
