./html.test/node_modules
__pycache__/
*.pyc
.idea/
data
data/
out/
output/
opencv/test.png
opencv/test.jpg
opencv/ocr/data
opencv/ocr/out
opencv/test.jpg
opencv/test.png
opencv/ocr/output
opencv/ocr/.idea/
coolq/coolq.air/
coolq/coolq.pro/
python/log/
python/data/
python/ruitu/
face-recognition/faces/
ocr/samples/
python/.idea/
python/test.jpg
python/test.png
greedai/rawdata/
greedai/neo4j-database/
jvm/out/
jvm/.idea/
html.test/node_modules/
opencv/out/
.DS_Store
